@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (min-width: 1536px) {
    .container {
      max-width: 1351px !important;
    }
  }

  @font-face {
    font-family: "DanaBold";
    src: url(./assets/Fonts/Dana/Bold/DanaFaNum-Bold.ttf) format("truetype"),
      url(./assets/Fonts/Dana/Bold/DanaFaNum-Bold.woff) format("woff"),
      url(./assets/Fonts/Dana/Bold/DanaFaNum-Bold.woff2) format("woff2")
  }

  @font-face {
    font-family: "YekanMedium";
    src: url(./assets/Fonts/IRYekan/Medium/iranyekanwebmediumfanum.ttf) format("truetype"),
      url(./assets/Fonts/IRYekan/Medium/iranyekanwebmediumfanum.woff) format("woff")
  }

  @font-face {
    font-family: "YekanRegular";
    src: url(./assets/Fonts/IRYekan/Regular/iranyekanwebregularfanum.ttf) format("truetype"),
      url(./assets/Fonts/IRYekan/Regular/iranyekanwebregularfanum.woff) format("woff")
  }

  @font-face {
    font-family: "YekanBold";
    src: url(./assets/Fonts/IRYekan/ExtraBold/iranyekanwebextraboldfanum.ttf) format("truetype"),
      url(./assets/Fonts/IRYekan/ExtraBold/iranyekanwebextraboldfanum.woff) format("woff")
  }
}

* {
  direction: rtl;
  font-family: "YekanMedium";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "DanaBold" !important;
}

.YekanBold {
  font-family: "YekanBold" !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #0E9A8A;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0a6f63;
  cursor: grab;
}

.nav-link {
  text-decoration: none;
  padding: 10px;
  position: relative;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: blue;
  width: 0;
  transition: all 0.3s ease;
}

.nav-link.active+.underline {
  width: 100%;
  left: 0;
}