@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (min-width: 1536px) {
    .container {
      max-width: 1351px !important;
    }
  }

  @font-face {
    font-family: "DanaBold";
    src: url(./assets/Fonts/Dana/Bold/DanaFaNum-Bold.ttf) format("truetype"),
      url(./assets/Fonts/Dana/Bold/DanaFaNum-Bold.woff) format("woff"),
      url(./assets/Fonts/Dana/Bold/DanaFaNum-Bold.woff2) format("woff2");
  }

  @font-face {
    font-family: "YekanMedium";
    src: url(./assets/Fonts/IRYekan/Medium/iranyekanwebmediumfanum.ttf)
        format("truetype"),
      url(./assets/Fonts/IRYekan/Medium/iranyekanwebmediumfanum.woff)
        format("woff");
  }

  @font-face {
    font-family: "YekanRegular";
    src: url(./assets/Fonts/IRYekan/Regular/iranyekanwebregularfanum.ttf)
        format("truetype"),
      url(./assets/Fonts/IRYekan/Regular/iranyekanwebregularfanum.woff)
        format("woff");
  }

  @font-face {
    font-family: "YekanBold";
    src: url(./assets/Fonts/IRYekan/ExtraBold/iranyekanwebextraboldfanum.ttf)
        format("truetype"),
      url(./assets/Fonts/IRYekan/ExtraBold/iranyekanwebextraboldfanum.woff)
        format("woff");
  }
}

* {
  direction: rtl;
  font-family: "YekanMedium";
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "DanaBold" !important;
}

.YekanBold {
  font-family: "YekanBold" !important;
}

.YekanReg {
  font-family: "YekanRegular";
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #0e9a8a;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0a6f63;
  cursor: grab;
}

.nav-link {
  text-decoration: none;
  padding: 10px;
  position: relative;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: blue;
  width: 0;
  transition: left 2000ms ease-in-out, width 3000ms ease-in-out;
}

.nav-link.active + .underline {
  width: 100%;
  left: 0;
}

input[type="text"] {
  @apply rounded-none outline-none border-none focus:ring-0 py-0;
}
select {
  @apply w-full border-none rounded-2xl bg-white cursor-pointer focus:!ring-0 focus:border-Borders;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: left 0.75rem center;
  background-repeat: no-repeat;
  background-size: 1.5em;
}

.swiper-pagination-progressbar {
  bottom: 0px !important;
  width: 100%;
  top: 17.5rem !important;
  height: 9px !important;
  background-color: #e2e2e2 !important;
  border-radius: 20px !important;
  overflow: hidden;
}

.swiper-pagination-progressbar-fill {
  background-color: #0e9a8a !important;
  border-radius: 50rem !important;
}
